
.App {
  text-align: center;
}

#totalFrame
{
  position: absolute;
  top: -250px;
  left: -150px;

  opacity: 0.5;
  scale: 0.25;
  width: 500px;
  height: 800px;
  background-color: rgb(214, 226, 226);
}

#readyFrame
{
  top: 200px;
  left: 100;
  opacity: 1;
  
  background-color: rgb(91, 138, 140);
  width: 500px;
  height: 310px;
  position: absolute;
  border-radius: 5%;

  z-index: 10;
}

#readyPlayerList
{
  opacity: 1;
  float: left;
  background-color: rgb(151, 151, 173);
  width: 130px;
  height: 310px;
  border-radius: 5%;
  
}

#playerAttributes
{
  float: left;
  /* background-color: rgb(121, 161, 121); */
  width: 370px;
  height: 310px;
  border-radius: 5%;
  backdrop-filter: blur(10px);
}

#readybutton
{
  width: 150px;
  height: 10px;
  background-color: aqua;
  top: 100px;
  margin: auto;
}

#addPlayerButton
{
  float: left;
  scale: 1.5;
  background-color: aqua;
  width: 50px;
  height: 10px;
}

#startGameButton
{
  float: right;
  scale: 1.5;
  background-color: aqua;
  width: 50px;
  height: 10px;

}

#inputName
{
  background-color: aqua;
  scale: 1.5;
  width: 100px;
  height: 10px;
  top: 100px;
  margin: auto;
  position: relative;
}

#colorSelecter
{
  scale: 1.25;
  height: 95px;
  width: 245px;
  background-color: aqua;
  position: relative;
  top: 175px;
  margin: auto;
}

#gameFrame
{
  opacity: 1;
}

#up
{
  width: 500px;
  height: 400px;
  background-color: bisque;
  text-align: center;

}

#down
{
  width: 500px;
  height: 400px;
  background-color: blueviolet;
}

#playerInfoinReady
{
  width: 100px;
  height: 30px;
  background-color: aquamarine;
  text-align: center;
  border-style:dashed;
  border-width:1px;
  border-radius: 20%;
}

#playerInfoinRank
{
  width: 150px;
  height: 35px;
  background-color: aquamarine;
  text-align: center;
  border-style:dashed;
  border-width:1px;
  border-radius: 5%;
}

#history_bar
{
  float: left;
  width: 100px;
  height: 400px;
  background-color: aqua;
}

#number_bar
{
  float: left;
  width: 300px;
  height: 400px;
  background-color: brown;
}

#action_bar
{
  float: left;
  width: 100px;
  height: 400px;
  background-color: rgb(51, 51, 196);
}

#rank_bar
{
  opacity: 1;
  float: left;
  width: 100px;
  height: 400px;
  background-color: rgb(39, 16, 6);
  font-size: 15px;
  position: absolute;
  z-index: 1;
}

#value_bar
{
  opacity: 1;
  left: 400px;
  width: 100px;
  height: 400px;
  background-color: rgb(109, 26, 68);
  position: absolute;
  z-index: 1;
}

#Jackpot
{
  position: absolute;
  width: 500px;
  height: 400px;
  background-color: chartreuse;
  font-size: 250px;
}

#Numerical_indicator
{
  width: 100px;
  height: 100px;
  background-color: rgb(44, 255, 185);
  position: absolute; 
  bottom: 0;
  font-size: 50px;
}

#indicatorDiv
{
  position: absolute;
  top: 5px;
  left: -10px;

  z-index: 10;
}

#indicator
{
  width: 15px;
  height: 15px;
  background-color: blueviolet;
  
}



.number_button
{
  background-color: rgb(209, 209, 255);
  width: 100px;
  height: 100px;
  border-radius: 45%;
  float: left;
  font-size: 50px;
  text-align: center;
  user-select: none;
}

.action_button
{

  background-color: chocolate;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 45px;
  text-align: center;
  user-select: none;
}