.App {
  text-align: center;
}

#totalFrame
{
  position: absolute;
  top: -250px;
  left: -150px;

  opacity: 0.5;
  scale: 0.25;
  width: 500px;
  height: 800px;
  background-color: rgb(200, 230, 245);
  border-radius: 5%;
}

#readyFrame
{
  top: 200px;
  left: 100;
  opacity: 1;
  
  background-color: transparent;
  width: 500px;
  height: 310px;
  position: absolute;


  z-index: 10;
}

#readyPlayerList
{
  opacity: 1;
  float: left;
  background-color: rgb(230, 230, 230);
  width: 130px;
  height: 310px;
  border-radius: 5%;
  
}

#playerAttributesCollecter
{
  float: left;
  background-color: rgb(255, 255, 255);
  width: 370px;
  height: 310px;
  border-radius: 5%;
  backdrop-filter: blur(10px);
}

#readybutton
{
  width: 200px;
  height: 10px;
  background-color: transparent;
  top: 15px;
  margin: auto;
  position: relative;
}

#addPlayerButton
{
  float: left;
  scale: 1.5;
  background-color: rgb(75, 75, 75);
  width: 60px;
  height: 10px;
}

#startGameButton
{
  float: right;
  scale: 1.5;
  background-color: rgb(75, 75, 75);
  width: 60px;
  height: 10px;

}

#inputName
{
  background-color: transparent;
  scale: 1.5;
  width: 100px;
  height: 10px;
  top: 60px;
  margin: auto;
  position: relative;
}

#colorSelecter
{
  scale: 1.25;
  height: 95px;
  width: 245px;
  background-color: rgb(75, 75, 75);
  position: relative;
  top: 150px;
  margin: auto;
}

#gameFrame
{
  opacity: 1;
}

#up
{
  width: 500px;
  height: 400px;
  background-color: transparent;
  text-align: center;
}

#down
{
  opacity: 0.75;
  width: 500px;
  height: 400px;
  background-color: blueviolet;
}

#playerInfoinReady
{
  width: 100px;
  height: 30px;
  background-color: transparent;
  text-align: center;
  border-style:double;
  border-width:1px;
  border-radius: 5%;
}

#playerInfoinRank
{
  width: 300px;
  height: 50px;
  background-color: transparent;
  text-align: center;
  font-family:"Times New Roman", Times, serif;
  font-weight: bold;
  line-height: 50px;
  font-size: 20px;
}

#playerScoreinRank
{
  float: left;
  width:50px;
  height:50px;
  font-family:"Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 25px;
  border-radius: 25%;
  line-height: 50px;
}

#history_bar
{
  float: left;
  width: 100px;
  height: 400px;
  background-color: rgb(25, 25, 25);
}

#number_bar
{
  float: left;
  width: 300px;
  height: 400px;
  background-color: rgb(100, 100, 100);
}

#action_bar
{
  float: left;
  width: 100px;
  height: 400px;
  background-color: rgb(25, 25, 25);
}

#rank_bar
{
  opacity: 1;
  float: left;
  width: 100px;
  height: 400px;
  background-color: transparent;
  font-size: 15px;
  position: absolute;
  z-index: 1;
}

#Jackpot
{
  position: absolute;
  width: 500px;
  height: 400px;
  /* background-color: rgb(175, 175, 175); */
  background-color: transparent;
  font-size: 245px;
  font-family:"Times New Roman", Times, serif;
  line-height: 400px;
  font-weight: 800;
  color:rgb(175, 235, 235);
}

#value_bar
{
  opacity: 1;
  left: 375px;
  width: 150px;
  height: 400px;
  background-color: transparent;
  position: absolute;
  z-index: 1;
}

#Numerical_indicator
{
  width: 125px;
  height: 77px;
  background-color: rgb(230, 230, 230);
  position: absolute; 
  bottom: 0;
  font-size: 50px;
  font-family:"Times New Roman", Times, serif;
  line-height: 77px;
  font-weight:bold;
  border-radius: 10%;
}

#indicatorDiv
{
  position: absolute;
  top: 5px;
  left: -15px;

  z-index: 10;
}

#indicator
{
  width: 15px;
  height: 15px;
  background-color: blueviolet;
  
}



.number_button
{
  background-color: rgb(235, 235, 235);
  width: 100px;
  height: 100px;
  border-radius: 40%;
  float: left;
  font-size: 50px;
  text-align: center;
  user-select: none;
  font-family:"Times New Roman", Times, serif;
  font-weight:bold;
  line-height: 95px;
}

.action_button
{

  background-color: rgb(200, 200, 200);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 40px;
  text-align: center;
  user-select: none;
  font-family:"Times New Roman", Times, serif;
  line-height: 95px;
}